@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    font-size: 14px;
  }

  body {
    @apply text-sm;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Toggle Switch Styles */
.switch-checkbox {
  right: 0;
  z-index: 1;
  transition: all 0.3s;
}

.switch-checkbox:checked {
  right: auto;
  left: 0;
}

.switch-label {
  transition: background-color 0.3s;
}

.switch-checkbox:checked + .switch-label {
  background-color: #4f46e5; /* Indigo 600 */
}

.switch-checkbox:focus {
  outline: none;
}

.switch-checkbox:checked:focus + .switch-label {
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}
